body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    position: relative;
    top: 1px;
    z-index: 1;
    width: 100%;
    height: 100.4px;
    line-height: 100.4px;
    /* float: left; */
    background-image: linear-gradient(to right, rgb(242, 111, 67) 0%, rgb(233, 68, 96) 100%);
}

#navbar div {
    float: left;
}

.navabr-logo {
    margin-left: 12%;
    height: 100px;
}

.navabr-logo iframe {
    margin-top: 17px;
}

.DISCOVER {
    font-size: 17px;
    margin-left: 5%;
    color: white;
    font-family: monospace;
}

.search-frame {
    margin-left: 3%;
    border-collapse: separate;

}

.search-frame input {
    width: 270px;
    height: 40px;
    border: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.saerch-button {
    height: 100px;
}

.saerch-button button {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    border: 0;
    border: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-size: 40px, 40px;
    background-image: url(../image/sea.png);
    margin-top: 33.5px;
}

.login {
    margin-left: 35%;
    font-size: 17px;
    color: white;
    font-family: cursive;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    /* position: absolute;
    left: 0px; */
    width: 100%;
    overflow: hidden;
}

.list {
    position: relative;
    left: 0px;
    width: 300%;
    list-style: none;
    margin-left: 0;
}


.list li {

    width: 33.33%;
    float: left;
    height: 260px;
    /* background-image: url(../image/bookdisplaysmall.jpg) */
}

ul h1{
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 50px;
}

ul p{
    margin-left: 15%;
    margin-top: 50px;
    color: white;
}

.item1{
    background-image: url(../image/bookdisplaysmall.jpg);
    background-size: 100% 260px;
    
}
 
.item2{
    background-image: url(../image/bookcoverssmall2.jpg);
    background-size: 100% 260px;

}

.item3{
    background-image: url(../image/bookstackssmall.jpg);
    background-size: 100% 260px;
}



.list::after {
    content: "";
    display: block;
    clear: both;
}

h2{
    font-size: 20px;
    margin-top: 20px;
}

.block-header{
    width: 100%;
    height: 66px;
    line-height: 66px;
}

.block-header *{
    float: left;
}

.block-header h2{
    margin-left: 10%;
    color: #616161;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: centurygothicregular;
}

.block-header a{
    /* margin-left: 13px; */
    color: #17a288;     
    /* font-size: 15px; */
    margin-top: 25px;
    margin-left: 1em;
    font-size: 16px;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

/* 向下箭头 */
.arrow-bottom {
    position: absolute;
    top: 48px;
    left: 378px;
    width: 0;   
    height: 0;   
    border-left: 4px solid transparent;  /* 左边框的宽 */  
    border-right: 4px solid transparent; /* 右边框的宽 */  
    border-top: 7px solid white; /* 下边框的长度|高,以及背景色 */  
    font-size: 0;  
    line-height: 0; 
  }

#main-menu {
    z-index: 2;
    top: 80px;
    left: 310px;
    position: absolute;
    width: 750px;
    height: 300px;
    /* background: red; */
    display: none;
}

#main-menu div {
    float: left;
}

#sub-one {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    /* display: none; */
    width: 490px;
    height: 288.8px;
    /* background: green; */
}

#sub-two{
    position: absolute;
    right: 0px;
    width: 260px;
    height: 300px;
    background: yellow;

}

#sub-one h3{
    margin-left: 23px;
}

h3{
    color: #616161;
    font-weight: 700;
    margin-top: 0;
    font-family: centurygothicregular;
    font-size: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#sub-one ul {
    column-count: 2;
    column-gap: 30px;
    list-style: none;
    padding: 0;
    /* margin-top: 0;
    margin-bottom: 10px; */
}
#sub-two ul{
    list-style: none;
}

#sub-two li{
    width: 200px;
    margin-left: 25px;

    display: list-item;
    text-align: -webkit-match-parent;
}

#sub-one li {
    width: 200px;
    margin-left: 20px;
    /* line-height: 1.7;  */
    display: list-item;
    text-align: -webkit-match-parent;
}

#main-menu a{
    text-transform: capitalize;
    font-size: 18px;
    color: #9b9b9b;
    text-decoration: none;
}

#sub-two{
    float: left;
    /* padding: 30px; */
    height: 300px;
    background-color: #e2f6f2;
    display: block;
}

#sub-two h3{

    color: #004445;
    font-weight: 700;
    margin-top: 29px;  
    margin-left: 25px;
    font-family: centurygothicregular;
    font-size: 24px;
}

/* 小圆点 */
#buttons {
    position: absolute;
    left: 1320px;
    bottom: 380px;
    z-index: 2;
    height: 10px;
    width: 100px;
}


#buttons span {
    float: left;
    margin-right: 20px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

#buttons .on {
    background: white;
}

.arrow {
    position: absolute;
    top: 180px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background-color: RGBA(0, 0, 0, .3);
    cursor: pointer;
}





#prev {
    left: 20px;
}

#next {
    right: 20px;
}